@{
    ViewBag.Title = "Geek Quiz";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="flip-container text-center col-md-12">
                <div class="front">
                    <div class="row text-center">
                        <!-- TODO: add options here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>