@{
    ViewBag.Title = "Geek Quiz";
}

<section id="content">
    <div class="container">
        <div class="row header"><img src="http://lorempixel.com/436/185/abstract/1/" alt="" /></div>
        <div class="row">
            <div class="flip-container text-center col-md-12">
                <div class="front">
                    <p class="lead">What does it look like when I write a longer question?</p>
                    <div class="row text-center">
                        <button class="btn btn-info btn-lg option">Answer 1</button><button class="btn btn-info btn-lg option">Answer 2</button><button class="btn btn-info btn-lg option">Answer 3</button><button class="btn btn-info btn-lg option">Answer 4</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <audio controls="controls">
        <source src="http://media.ch9.ms/ch9/11d8/604b8163-fad3-4f12-9607-b404201211d8/KatanaProject.mp3" type="audio/mp3" />
    </audio>
</section>

@section scripts{
    <script src="/Scripts/init.js"></script>
}