body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Geek Quiz styles */
.flip-container .back,
.flip-container .front {
    border: 5px solid #00bcf2;
    padding-bottom: 30px;
    padding-top: 30px;
}

#content {
    position: relative;
    background: #fff;
    padding: 50px 0 0 0;
}

.option {
    width: 140px;
    margin: 5px;
}

div.correct p {
    color: green;
}

div.incorrect p {
    color: red;
}

.btn {
    border-radius: 0;
}

.flip-container div.front, .flip-container div.back.flip {
    display: block;
}

.flip-container div.front.flip, .flip-container div.back {
    display: none;
}
