body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* updates */
.flip-container .back,
.flip-container .front {
    border: 5px solid #47de07;
    padding-bottom: 30px;
    padding-top: 30px;
}

#content {
	position:relative;
	background:#fff;
	padding:50px 0 0 0;
}

.option {
    width:140px;
    margin: 5px;
}

div.correct p {
    color: green;
}

div.incorrect p {
    color: red;
}

.btn {
    border-radius: 0;
}
